<div class="container-fluid panel-transition">
  <div class="row" id="makeup">
    <div class="col-md-7 offset-md-3 py-5">
      <h2 class="py-3">Грим</h2>
      <h3 class="py-3">Всеки ден от седмицата на посочен от вас адрес от 08-20 часа</h3>
      <p class="pt-5 text-center"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></p>
    </div>
    <!--/.col-md-5-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">

      <div class="row card-deck">
        <div class="col-md-5 offset-md-1">
          <!-- Card -->
          <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h2 class="card-title">{{pricesCards.category}}</h2>
              <h3 class="card-sub-title">{{pricesCards.target}}</h3>
              <!--Text-->
              <p class="card-text-price1">{{pricesCards.price}}</p>
              <p class="card-text">{{pricesCards.dds}}</p>
              <p class="card-text">{{pricesCards.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4"><img class="img-fluid" src="/src/assets/images/stuff.png" alt="stuff" width="24"
                  height="24">{{pricesCards.specialist}}</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-yellow-choice">Избери</a></p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
        <div class="col-md-5">
          <!-- Card -->
          <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h2 class="card-title">{{pricesCardsMiddle.category}}</h2>
              <h3 class="card-sub-title">{{pricesCardsMiddle.target}}</h3>
              <!--Text-->
              <p class="card-text-price2">{{pricesCardsMiddle.price}}</p>
              <p class="card-text">{{pricesCardsMiddle.dds}}</p>
              <p class="card-text">{{pricesCardsMiddle.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4"><img class="img-fluid" src="/src/assets/images/stuff.png" alt="stuff" width="24"
                  height="24">
                {{pricesCardsMiddle.specialist}}
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-nuance-pink-choice">Избери</a></p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
        <!-- Card deck -->
      </div><!-- Card deck -->
    </div>
    <!--.col-md-12-->
    <!--/.col-md-4-->
  </div>
  <!--/.row-->
  <div class="row py-5">
    <div class="col-md-6 offset-md-3">
      <h2>Искате индивидуален план? Свържете се с нас!</h2>
      <p class="wrapper-btn py-5"><a href="" class="button-purple-individual-plan">ИНДИВИДУАЛЕН ПЛАН</a></p>
    </div>
  </div>
  <!--/.row-->
  <div class="row" id="makeup-backgr">
    <div class="col-md-6 offset-md-3 py-5">
      <div class="wrap-makeup"><img class="img-fluid" src="/src/assets/images/makeup-mirror.png"> </div>

      <h2 class="py-4">Какво да очаквате?</h2>
      <p>Предстои ви събитие, фирмено парти или просто е вашият рожден ден, а искате да изглеждате неотразимо. Можете
        да заявите грим директно в офиса и да го съчетаете с работните си задължение. Процедурата отнема около 40мин.
        Нашите специалисти са с опит от мин. 5 години и работят с качествени материали.</p>
      <h3 class="py-4">Изисквания: Отделете място/стол за извършване на услугата.</h3>

    </div>
    <!--/.col-md-6-->
  </div>
  <!--/.row-->
  <div class="row p-5">
    <div class="col-md-6 offset-md-3">
      <h2 class="py-4">Искате да тествате? Заяви демо посещение!</h2>
      <p class="py-5"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></p>
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.container-fluid-->