#two-woman-massage {
    background-image: url('/src/assets/images/two women massage.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-bottom: 0px;
    min-height: 48vw;
}

#pink-bkg {
    background-image: url('/src/assets/images/pink-bkg-hands-with-phone.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    min-height: 15.7em;
}

#pink-bkg h2, #pink-bkg~.col-md-12.py-5 {
    text-align: center;
}

#chair-massage {
    background-image: url('/src/assets/images/chair-massage.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

#hair-dyeing {
    background-image: url('/src/assets/images/hair-dyeing.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

a {
    display: block;
}

#woman-nail {
    background-image: url('/src/assets/images/woman-nail.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    min-height: 39.5em;
    text-align: center;
}

.pink-bkg {
    background-image: url('/src/assets/images/pink-bkg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 14em;
}

.pink-bkg-hands {
    background-image: url('/src/assets/images/pink-bkg-hands-with-phone.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 20em;
}

.pink-bkg-hands h2 {
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.text-center {
    text-align: center;
}

div:nth-child(4) h3 {
    color: #3a1f37;
    font-size: 22px;
    font-weight: 500;
}

div:nth-child(4) p {
    color: #776f76;
    font-size: 16px;
    font-weight: 400;
}

div:nth-child(4) .col-md-3 {
    opacity: 0;
    animation: fadeIn 1.5s ease-in both;
}

#chair-massage h2, div.col-md-6.p-5>h2 {
    color: #0c0c0c;
    font-weight: 500;
}

.image-box-title, #four-services h4 {
    font-weight: 400;
    color: #3a1f37;
}

.image-box-title p {
    color: #776f76;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

div:nth-child(4)>div.col-md-3.px-4 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

div:nth-child(4)>div:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

div:nth-child(4)>div:nth-child(3) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}

div:nth-child(4)>div:nth-child(4) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

div:nth-child(5)>div:nth-child(2) {
    opacity: 0;
    animation: fadeIn 6.5s ease-in both;
}

#chair-massage {
    opacity: 0;
    animation: fadeIn 6s ease-in both;
}

div>div:nth-child(6) {
    opacity: 0;
    animation: fadeIn 9s ease-in both;
}

div:nth-child(6)>div.col-md-6.p-5 {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    animation-delay: 9s;
}

#hair-dyeing {
    -webkit-animation-delay: 9.5s;
    -moz-animation-delay: 9.5s;
    animation-delay: 9.5s;
}

#woman-nail {
    opacity: 0;
    -moz-animation: fadeIn 18s ease-in both;
    -webkit-animation: fadeIn 18s ease-in both;
    animation: fadeIn 18s ease-in both;
}

#woman-nail h2 {
    color: white;
    font-size: 3.7em;
    font-weight: 400;
}

#woman-nail p {
    font-size: 1em;
    color: white;
}

#woman-nail a {
    font-size: 1em;
    display: inline-block;
    padding: 1.2em 2.5em;
    border-radius: 5px;
    color: white;
    background-color: #ffcf00;
    transition: 3s;
    -moz-transition: 3s;
    -webkit-transition: 3s;
    text-decoration: none;
}

#woman-nail a:hover {
    opacity: 0.5;
    transition: 3s;
    -moz-transition: 3s;
    -webkit-transition: 3s;
}

div.row.pink-bkg.py-5 {
    opacity: 0;
    -moz-animation: fadeIn 20s ease-in both;
    -webkit-animation: fadeIn 20s ease-in both;
    animation: fadeIn 20s ease-in both;
}

.pink-bkg h2 {
    color: white;
}