<div class="container-fluid panel-transition">
    <div class="row">
        <div class="col-md-12" id="two-woman-massage">

            <div class="row">
                <div class="col-md-4 offset-md-7 py-5">
                    <h1 class="py-4">Beauty on the GO!</h1>
                    <h2>МАСАЖ</h2>
                    <h2>МАНИКЮР</h2>
                    <h2>ПРИЧЕСКА</h2>
                    <h2>ГРИМ</h2>
                </div>
            </div>

        </div>
    </div>
    <!--/.row-->

    <div class="row pink-bkg-hands">
        <div class="col-md-6 offset-md-3 py-5">
            <h2 class="py-5">GОBEAUTY идва при теб</h2>
        </div>

    </div><!-- /.row-->
    <div class="row">
        <div class="col-md-6 offset-md-3 py-5">
            <h2 class="text-center">Защо услугите на GOBEAUTY са подходящи за вашия офис?</h2>
        </div>
    </div><!-- /.row-->
    <div class="row p-5">
        <div class="col-md-3 px-5">
            <img width="64" height="64" src="/src/assets/images/pile-of-coins.png" alt="pile-of-coins" class="img-fluid">
            <h3 class="py-2">Ясно ценообразуване</h3>
            <p>Къстъмизирай своя план спрямо екипа и бюджета си</p>
        </div>
        <div class="col-md-3  px-5">
            <img width="64" height="64" src="/src/assets/images/flexibletime_clock.png" alt="flexibletime-clock" class="img-fluid">
            <h3 class="py-2">Определяш времето</h3>
            <p>Резервирай терапевт от няколко часа до цял ден</p>
        </div>
        <div class="col-md-3  px-5">
            <img width="64" height="64" src="/src/assets/images/calendar-icon.png" alt="calendar-icon" class="img-fluid">
            <h3 class="py-2">Гъвкав график</h3>
            <p>Служителите ви избират слот за посещение в удобен ден и час</p>
        </div>
        <div class="col-md-3  px-5">
            <img width="64" height="64" src="/src/assets/images/flexibletime_man.png" alt="flexibletime-man" class="img-fluid">
            <h3 class="py-2">И релаксирай</h3>
            <p>Специалист пристига и подобрява здравето на вашите служители</p>
        </div>

    </div><!-- /.row-->

    <div class="row">
        <div class="col-md-6" id="chair-massage">

        </div>
        <div class="col-md-4 offset-md-1">
            <h2 class="pb-5">Какво предлагаме?</h2>
            <div class="row">
                <div class="col-md-2">
                    <img width="64" height="64" src="/src/assets/images/еqualizer .png" alt="equalizer" class="img-fluid pt-2">
                </div>
                <div class="col-md-8 pb-4">
                    <h4 class="pb-2">Контрол спрямо бизнеса</h4>
                    <p>Контролираш броя слотове и тяхната продължителност.</p>
                </div>

            </div>
            <!--/.row-->

            <div class="row">
                <div class="col-md-2">
                    <img width="64" height="64" src="/src/assets/images/back-massage.png" alt="back-massage" class="img-fluid pt-2">
                </div>
                <div class="col-md-8 pb-4">
                    <h4 class="pb-2">Оставете всичко на нас</h4>
                    <p>Знаем, че списъкът ви със задачи е препълнен. Ние ще подредим всички направени резервации и ще
                        намерим
                        най-подходящите терапевти.</p>
                </div>
            </div><!-- /.row-->
            <div class="row">
                <div class="col-md-2">
                    <img width="64" height="64" src="/src/assets/images/check-mark.png" alt="check-mark" class="img-fluid pt-2">
                </div>
                <div class="col-md-8 pb-4">
                    <h4 class="pb-2">Пълно обслужване</h4>
                    <p>В цената са включени транспортни разходи и разходи за необходимото оборудване. </p>
                </div>
            </div>
            <!--/.row-->

        </div>

    </div>
    <!--/ .row-->

    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="py-4">Защо да изберете GOBEAUTY?</h2>
            <div class="row pb-4">
                <div class="col-md-2 offset-md-1">
                    <img width="50" height="64" src="/src/assets/images/chair.png" alt="chair" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h4 class="image-box-title">Създаден за модерни бизнеси</h4>
                    <p>Масажът и разкрасителни процедури на работното място с GOBEAUTY ви спестява време.</p>

                </div>

            </div>
            <!--/.row nested-->
            <div class="row pb-2">
                <div class="col-md-2 offset-md-1">
                    <img width="64" height="64" src="/src/assets/images/back-massage.png" alt="back-massage" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h4 class="image-box-title">Квалифициран персонал</h4>
                    <p>Всички наши служители са предварително тествани и подбрани от нас с нужната квалификация за
                        съответната дейност.</p>
                </div>
            </div>
            <!--/.row nested-->

            <div class="row pb-2">
                <div class="col-md-2 offset-md-1">
                    <img width="64" height="64" src="/src/assets/images/check-mark.png" alt="check-mark" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h4 class="image-box-title">За щастливи служители</h4>
                    <p>Чрез услугите, които предлагаме, ние се грижим за здравето, тонуса и добрия външен вид на вашите
                        служители. </p>

                </div>
            </div>
            <!--/.row nested-->


        </div>
        <div class="col-md-6" id="hair-dyeing">

        </div>
    </div><!-- .row-->
    <cosmetics-services></cosmetics-services>

    <div class="row" id="woman-nail">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5 offset-md-4 pt-5">
                    <h2 class="pt-5">Ти си елитен бюти професионалист? </h2>
                    <p class="py-4">Сега наемаме терапевти с опит в красотата и масажните процедури.</p>
                    <a routerLink="/ForProfessionals" class="hvr-shutter-in-vertical">КАНДИДАТСТВАЙ</a>
                </div>
            </div>
            <!--/. row nested-->


        </div>
    </div><!-- /.row-->
    <!-- TO DO NG CLASS for H2 properties-->


    <div class="row pink-bkg py-5">
        <div class="col-md-6 offset-md-3 py-5">
            <h2>Ние правим натовареното ви ежедневие по-леко</h2>
        </div>
    </div>
    <!--/.row-->



</div><!-- /container-fluid-->