<div class="container-fluid panel-transition">
  <div class="row" id="manicure-bkg">
    <div class="col-md-7 offset-md-3 py-5">
      <h2 class="py-3">Маникюр</h2>
      <h3 class="py-3">Всеки ден от седмицата на посочен от вас адрес от 08-20 часа</h3>
      <p class="pt-5 text-center"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></p>
    </div>
    <!--/.col-md-12-->
  </div>
  <!--/.row-->
  <div class="row">
    <!-- Card deck -->
    <div class="col-md-12 card-deck">
      <div class="row offset-md-2">
        <div class="col-md-4">
          <!-- Card -->
          <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h2 class="card-title">{{pricesCards.category}}</h2>
              <h3 class="card-sub-title">{{pricesCards.time}}</h3>
              <!--Text-->
              <p class="card-text-price1">{{pricesCards.price}}</p>
              <p class="card-text">{{pricesCards.dds}}</p>
              <p class="card-text">{{pricesCards.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4">{{pricesCards.specialist}}</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-yellow-choice">Избери</a></p>
            </div>

          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4">
          <!-- Card -->
          <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h2 class="card-title">{{pricesCardsMiddle.category}}</h2>
              <h3 class="card-sub-title">{{pricesCardsMiddle.time}}</h3>
              <!--Text-->
              <p class="card-text-price2">{{pricesCardsMiddle.price}}</p>
              <p class="card-text">{{pricesCardsMiddle.dds}}</p>
              <p class="card-text">{{pricesCardsMiddle.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4">{{pricesCardsMiddle.specialist}}</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-nuance-pink-choice">Избери</a></p>
            </div>

          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4">
          <!-- Card -->
          <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">
              <!--Title-->

              <h2 class="card-title">{{pricesCardsLeft.category}}</h2>
              <h3 class="card-sub-title">{{pricesCardsLeft.time}}</h3>
              <!--Text-->
              <p class="card-text-price3">{{pricesCardsLeft.price}}</p>
              <p class="card-text">{{pricesCardsLeft.dds}}</p>
              <p class="card-text">{{pricesCardsLeft.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4">{{pricesCardsLeft.specialist}}</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-pink-choice">Избери</a></p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
      </div>
      <!--/.nested row-->
    </div><!-- Card deck end .col -->
  </div>
  <!--/.row-->
  <div class="row py-5">
    <div class="col-md-6 offset-md-3">
      <h2>Искате индивидуален план? Свържете се с нас!</h2>
      <p class="wrapper-btn py-5"><a href="" class="button-purple-individual-plan">ИНДИВИДУАЛЕН ПЛАН</a></p>
    </div>
  </div>
  <!--/.row-->
  <div class="row" id="manicure">
    <div class="col-md-6 offset-md-3 py-5">
      <div class="wrap-massage"><img class="img-fluid" src="/src/assets/images/hand-with-heart.png"> </div>
      <h2 class="py-4">Какво да очаквате?</h2>
      <p>Предлагаме услугата маникюр, както за офис посещения, така и за индивидуални групи, частни партита, сватби и
        други
        събития. Процедурите могат да бъдат от 30мин. и 60мин. Като при желание за декорации или класически френски
        маникюр,
        следва да се запази дългия вариант от 60мин. Нашите специалисти са с опит от мин. 2 години и работят с
        качествени и
        подбрани материали.</p>
      <h3 class="py-4">Изисквания:</h3>
      <p>Ако нямате възможност да отделите маса или бюро за извършване на процедурите, ние можем да донесем специална
        маса за
        маникюр. Имайте предвид, че ако имате нанесен гел лак и желаете отстраняването му, това отнема време и ще
        съкрати
        продължителността на избрания от вас пакет.</p>
    </div>
  </div>
  <!--/.row-->
  <div class="row p-5">
    <div class="col-md-7 offset-md-3">
      <h2 class="py-4">Искате да тествате? Заяви демо посещение!</h2>
      <div class="py-5 text-center"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></div>
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.container-fluid-->