@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#massage-bkg {
    background-image: url("/src/assets/images/man-massage.png");
    background-position: center center;
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    min-height: 35em;
    opacity: 0;
    animation: fadeIn 3s ease-in 3s both;
    -moz-animation: fadeIn 3s ease-in 3s both;
    -webkit-animation: fadeIn 3s ease-in 3s both;
}

#massage-bkg>div {
    animation: fadeIn 3s ease-in 3.5s both;
    -moz-animation: fadeIn 3s ease-in 3.5s both;
    -webkit-animation: fadeIn 3s ease-in 3.5s both;
}

#massage-bkg h2, h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

#massage-bkg h2 {
    color: #fff;
    font-size: 3.7em;
    font-weight: 400;
}

#massage-bkg h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.7em;
    font-weight: 300;
}

p {
    text-align: center;
}

.demo-request {
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0, 0, 0, 0.21);
    background-color: #594059;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 110px 20px 110px;
    text-align: center;
}

.button-nuance-pink-choice, .button-pink-choice, .button-yellow-choice {
    color: #fff;
}

.button-yellow-choice {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffcf00;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 90px 20px 90px;
}

.wrapper-btn, .card-title {
    text-align: center;
}

.button-nuance-pink-choice {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    background-color: #f58e7f;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 90px 20px 90px;
}

.wrapper-divider {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0;
}

.divider {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e3e3e3;
    width: 71%;
    display: inline-block;
}

.button-pink-choice {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    background-color: #ee4e79;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 90px 20px 90px;
}

.button-purple-individual-plan {
    background-color: #594059;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 40px 20px 40px;
}

.wrap-massage {
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0 0 80px 0 rgba(89, 64, 89, 0.12);
    border-radius: 50%;
    margin: auto;
}

.wrap-massage img {
    position: relative;
    left: 18%;
    top: 20%;
}

#massage {
    background-color: #f6f4f3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

/* Pricing tables */

div>div:nth-child(2) {
    opacity: 0;
    animation: fadeIn 3s ease-in 7s both;
    -moz-animation: fadeIn 3s ease-in 7s both;
    -webkit-animation: fadeIn 3s ease-in 7s both;
}

/*  Individual plan section */

div>div.row.py-5 {
    opacity: 0;
    animation: fadeIn 3s ease-in 9s both;
    -moz-animation: fadeIn 3s ease-in 9s both;
    -webkit-animation: fadeIn 3s ease-in 9s both;
}

#massage {
    opacity: 0;
    animation: fadeIn 3s ease-in 11s both;
    -moz-animation: fadeIn 3s ease-in 11s both;
    -webkit-animation: fadeIn 3s ease-in 11s both;
}

#massage h2, div.row.p-5>div>h2 {
    color: #3a1f37;
    font-weight: 500;
    font-size: 2.2em;
}

#massage p {
    color: #3a1f37;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.card-sub-title {
    font-size: 1.1em;
    font-weight: 400;
    color: #776f76;
}

.card-text-price {
    color: #ffcf00;
    font-size: 3em;
}

.card-text-price>.card-text, .card-text-price~.card-text {
    font-size: 1em;
    font-weight: 500;
}

/* Ask for demo section */

div>div.row.p-5 {
    opacity: 0;
    animation: fadeIn 3s ease-in 14s both;
    -moz-animation: fadeIn 3s ease-in 14s both;
    -webkit-animation: fadeIn 3s ease-in 14s both;
}

.demo-request, .button-purple-individual-plan {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    opacity: 1;
}

.demo-request:hover, .button-purple-individual-plan:hover {
    text-decoration: none;
    opacity: 0.7;
}

.card-text-price1 {
    color: #ffcf00;
}

.card-text-price1, .card-text-price2, .card-text-price3 {
    font-size: 3em;
}

.card-text-price2 {
    color: #f58e7f;
}

.card-text-price3 {
    color: #ee4e79;
}