<div class="container-fluid panel-transition">
  <div class="row" id="massage-bkg">
    <div class="col-md-7 offset-md-3 py-5">
      <h2 class="py-3">Масаж</h2>
      <h3 class="py-3">Всеки ден от седмицата на посочен от вас адрес от 08-20 часа</h3>
      <p class="pt-5"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></p>
    </div>
    <!--/.col-md-12-->
  </div>
  <!--/.row-->
  <div class="row">
    <!-- Card deck -->
    <div class="col-md-12 card-deck">
      <div class="row offset-md-2">
        <div class="col-md-3">
          <!-- Card -->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h2 class="card-title">{{pricesCards.category}}</h2>
              <h3 class="card-sub-title">{{pricesCards.target}}</h3>
              <!--Text-->
              <p class="card-text-price1">{{pricesCards.price}}</p>
              <p class="card-text">{{pricesCards.dds}}</p>
              <p class="card-text">{{pricesCards.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4"><img class="img-fluid" src="/src/assets/images/stuff.png" alt="stuff" width="24"
                  height="24">
                {{pricesCards.specialist}}</p>

              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-yellow-choice">Избери</a></p>
            </div>

          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
        <div class="col-md-3">
          <!-- Card -->
          <div class="card mb-4">


            <!--Card content-->
            <div class="card-body">

              <!--Title-->

              <h2 class="card-title">{{pricesCardsMiddle.category}}</h2>
              <h3 class="card-sub-title">{{pricesCardsMiddle.target}}</h3>


              <!--Text-->

              <p class="card-text-price2">{{pricesCardsMiddle.price}}</p>
              <p class="card-text">{{pricesCardsMiddle.dds}}</p>
              <p class="card-text">{{pricesCardsMiddle.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4"><img class="img-fluid" src="/src/assets/images/stuff.png" alt="stuff" width="24"
                  height="24">
                {{pricesCardsMiddle.specialist}} </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-nuance-pink-choice">Избери</a></p>

            </div>

          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
        <div class="col-md-3">
          <!-- Card -->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!--Title-->

              <h2 class="card-title">{{pricesCardsLeft.category}}</h2>
              <h3 class="card-sub-title">{{pricesCardsLeft.target}}</h3>
              <!--Text-->

              <p class="card-text-price3">{{pricesCardsLeft.price}}</p>
              <p class="card-text">{{pricesCardsLeft.dds}}</p>
              <p class="card-text">{{pricesCardsLeft.quantity}}</p>
              <div class="wrapper-divider">
                <span class="divider"></span>
              </div>
              <p class="card-text pb-4"><img class="img-fluid" src="/src/assets/images/stuff.png" alt="stuff" width="24"
                  height="24">{{pricesCardsLeft.specialist}}
              </p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <p class="wrapper-btn"><a href="" class="button-pink-choice">Избери</a></p>

            </div>

          </div>
          <!-- Card -->
        </div>
        <!--/.col-md-4-->
      </div>
      <!--/.nested row-->
    </div><!-- Card deck end col-->

  </div>
  <!--/.row-->

  <div class="row py-5">
    <div class="col-md-6 offset-md-3">
      <h2>Искате индивидуален план? Свържете се с нас!</h2>
      <p class="wrapper-btn py-5"><a href="" class="button-purple-individual-plan">ИНДИВИДУАЛЕН ПЛАН</a></p>
    </div>
  </div>
  <!--/.row-->
  <div class="row" id="massage">
    <div class="col-md-6 offset-md-3 py-5">
      <div class="wrap-massage"><img class="img-fluid" src="/src/assets/images/massage@2x.png"> </div>

      <h2 class="py-3">Какво да очаквате?</h2>
      <p>Предлагаме масаж на офис стол, както за офис посещения, така и за индивидуални групи, частни партита и друг
        вид
        събития.
        Масажът в офиса помага за облекчаване на хроничния стрес. Щастливите служители са ефективни служители!
        Направете
        здравето и красотата достъпни за тях и те ще го оценят.<br>Офис масажът е с продължителност от 20мин. Извършва
        се на
        специален офис стол, който ние ще донесем. Нашите специалисти за квалифицирани масажисти, преминали обучение в
        офис
        масажни техники.&nbsp;<b></b></p>
      <h3 class="py-3">Изисквания:</h3>
      <p>Масажният стол е с размери на стандартен работен офис стол и не отнема място. Препоръчително е масажите да се
        извършат в отделно помещение, за да се постигне пълна релаксация. При необходимост е възможно офис столът да се
        постави на работното място на служителя.</p>
    </div>
  </div>
  <!--/.row-->
  <div class="row p-5">
    <div class="col-md-7 offset-md-3">
      <h2 class="py-4">Искате да тествате? Заяви демо посещение!</h2>
      <p class="py-5"><a href="" class="demo-request">ЗАЯВИ ДЕМО</a></p>
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.container-fluid-->