<!-- Footer -->
<footer class="grid-container-full">
  <div class="grid-x grid-padding-x justify-center">
    <div class="cell medium-7 pt-4">
      <p class="left-footer pt-5">Ако желаете да докладвате нежелана лекарствена реакция или оплакване от качеството на
        продукта, моля свържете се с Вашият
        лекар или фармацевт, с Изпълнителната Агенция по Лекарствата или използвайте линка отдолу: <a href="https://www.bayer.bg/bg/bayer-in-bulgaria/drug-safety/ "
          class="hvr-wobble-horizontal">https://www.bayer.bg/bg/bayer-in-bulgaria/drug-safety/</a>
      </p>
      <p class="left-footer">Редоксон е хранителна добавка с подсладители. По половин таблетка дневно. Да не се
        превишава препоръчваната дневна доза
        и да не се използва като заместител на разнообразното хранене. Байер България ЕООД, ул. Резбарска №5, 1510
        София, България,
        тел 02/4247280 L.BG.MKT.08.2017.1088 *IMS Health data, MAT June 2016
      </p>
      <p class="left-footer py-2">За информация по медицински въпроси: <a href="mailto:med.info.bg@bayer.com" class="hvr-wobble-horizontal">med.info.bg@bayer.com</a>
        или на телефон: (+359 2) 811 77 66
      </p>

    </div>
    <div class="cell medium-2 pt-5">
      <ul class="no-bullet py-4 ml-5">
        <li class="pb-2"><a href="https://www.claritin.bg/legal/conditions-of-use.php" class="hvr-wobble-horizontal">Conditions
            of use</a></li>
        <li class="pb-2"><a href="https://www.claritin.bg/legal/privacy-statement.php" class="hvr-wobble-horizontal">Privacy</a></li>
        <li class="pb-2"><a href="https://www.claritin.bg/legal/imprint.php" class="hvr-wobble-horizontal">Imprint</a></li>
      </ul>
    </div>
    <div class="cell medium-8 text-center py-5">© 2018 Copyright:
      <a href="#"> Maria Rangelova</a>
    </div><!-- Copyright -->
    <!-- Footer Links -->
  </div>
</footer>