<div class="container-fluid panel-transition">
    <div class="row" id="professionals-top-bkg">
        <div class="col-md-8 offset-3">
            <h2 class="mt-6 px-5">Стани GОBEAUTY специалист</h2>
            <p>Всичко от което се нуждаеш е сертификат/диплома за твоята квалификация и материали за работа.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="px-5">Какво да очаквам, като специалист на GOBEAUTY?</h2>
            <div class="row pt-4">
                <div class="col-md-2 offset-md-2">
                    <img width="84" height="80" src="assets/images/flexibletime_clock.png" alt="flexibletime_clock">

                </div>
                <div class="col-md-6">
                    <h3 class="image-box-title">УПЛЪТНЯВАНЕ НА ВРЕМЕТО</h3>
                    <p class="image-box-description">Работи компактно и организирано. Заетостта на работния деня варира
                        между 5 - 6 часа.</p>
                </div>
            </div>
            <!--/.row nested-->

            <div class="row pt-4">
                <div class="col-md-2 offset-md-2">
                    <img width="84" height="80" src="assets/images/dollar-symbol.png" alt="dollar-symbol">
                </div>
                <div class="col-md-6">
                    <h3 class="image-box-title">ВЪЗМОЖНОСТ ЗА ВИСОКО ЗАПЛАЩАНЕ</h3>
                    <p class="image-box-description">Без наем на помещение и режийни разходи можете да работите за себе
                        си и да получавате
                        добро заплащане за това.
                    </p>
                </div>
            </div>
            <!--/.row nested-->
            <div class="row pt-4">
                <div class="col-md-2 offset-md-2">
                    <img width="84" height="80" src="assets/images/flexibletime_man.png" alt="flexibletime_man">
                </div>
                <div class="col-md-6">
                    <h3 class="image-box-title">СПОКОЙНА РАБОТНА СРЕДА</h3>
                    <p class="image-box-description">Услугите се предлагат в офис среда, като часовете са предварително
                        фиксирани.
                    </p>
                </div>
            </div>
            <!--/.row nested-->
        </div><!-- /.col-md-6 p-5-->

        <div class="col-md-6 p-5">
            <form [formGroup]="applyNow" (ngSubmit)="onSubmit()" name="apply-now" id="apply-now">

                <h2>Кандидатствай сега</h2>
                <p>Попълнете формата за кандидатстване:</p>
                <input class="form-control mb-3" type="text" size="40" aria-invalid="false" placeholder="Име и фамилия"
                    name="flastName" formControlName="flastName" required>
                <div *ngIf="flastName?.errors.invalid && flastName?.errors.dirty" class="alert alert-danger">
                    <div *ngIf="flastName.errors.required">Name is required.</div>
                    <div *ngIf="flastName.errors.minlength">
                        Name must be at least 2 characters long.
                    </div>
                </div>

                <input class="form-control mb-3" type="email" size="40" aria-required="true" aria-invalid="false"
                    placeholder="Имейл" name="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required>

                <div *ngIf="email?.invalid && email?.errors.dirty" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Official Email required.
                    </div>
                    <div *ngIf="email.errors.email">
                        Official Email not valid.
                    </div>
                </div>

                <input class="form-control mb-3" type="tel" size="40" aria-required="true" aria-invalid="false"
                    placeholder="Телефон" name="phone" formControlName="phone" required>
                <div *ngIf="phone?.invalid && phone?.dirty" class="alert alert-danger">
                    <div *ngIf="phone.errors.pattern">
                        Phone format invalid - must contain min symbol 6 end max symbol 10
                    </div>
                    <div *ngIf="phone.errors.required">
                        Phone required
                    </div>

                </div>
                <input class="form-control mb-3" type="text" size="40" aria-required="true" aria-invalid="false"
                    placeholder="Град" name="city" formControlName="city" pattern="[a-zA-z]{2,15}[^@#-&]" required>
                <div *ngIf="city?.invalid && city?.dirty" class="alert alert-danger">

                    <div *ngIf="city.errors.required">
                        City required.
                    </div>
                    <div *ngIf="city.errors.minlength">City name contain at least 3 character </div>

                </div>
                <input class="form-control mb-3" type="text" size="40" aria-required="true" aria-invalid="false"
                    placeholder="Специалност" name="specialty" formControlName="specialty" required>
                <div *ngIf="specialty?.invalid && specialty?.dirty">
                    <div *ngIf="specialty?.required">Specialty required</div>
                </div>
                <input class="form-control mb-3" type="text" size="40" aria-invalid="false" placeholder="Как разбра за нас?"
                    name="sourceinfo" formControlName="sourceinfo" required>
                <div class="form-row">
                    <div class="col-md-4">

                        <small class="form-text">Имаш ли сертификат и/или диплома?</small>

                        <label class="check check-certificate">
                            <input type="checkbox" name="answer" formControlName="answer" required>
                            <div class="box check-certificate"></div>
                            <div *ngIf="answer?.invalid && answer?.dirty">
                                <div *ngIf="answer?.required">This checkbox required</div>
                            </div>
                        </label>


                    </div>
                    <div class="col-md-8">
                        <small>Година на дипломиране, сертифициране</small>
                        <input class="form-control mt-3" type="text" size="40" aria-invalid="false" name="diploma"
                            formControlName="diploma" required>
                        <div *ngIf="diploma?.invalid && diploma?.dirty">
                            <div *ngIf="diploma?.required">Годината на дипломиране е задължителна</div>
                        </div>
                    </div>


                </div>
                <!--/.form-row-->
                <input class="form-control-file" type="file" name="uploadfile" formControlName="uploadfile" id="file"
                    accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                    aria-invalid="false" required>
                <div *ngIf="uploadfile?.invalid && uploadfile?.dirty">
                    <div *ngIf="uploadfile?.required">Качването на файл е задължително </div>
                </div>

                <label class="check">
                    <input type="checkbox" name="agreement" formControlName="agreement" required />
                    <div class="box"></div>
                    <div *ngIf="agreement?.invalid && agreement?.dirty">
                        <div *ngIf="agreement?.required">This agreement required</div>
                    </div>
                </label>
                <small>
                    Давам съгласието си личните ми данни да бъдат съхранени и обработвани единствено и само от GOBEAUTY
                    спрямо изискванията на българското и европейско законодателство.
                </small>


                <button class="btn btn-block" type="submit" [disabled]="!applyNow.valid">КАНДИДАТСТВАЙ</button>
                <p>* Ще се свържем лично само с одобрените кандидати за интервю.</p>
            </form>
        </div><!-- /.col-md-6 p-5-->
    </div>
    <!--/.row-->
</div>
<!--/. container-fluid-->