#four-services {
	background-color: #f6f4f3;
	opacity: 0;
	-moz-animation: fadeIn 3s ease-in 9s both;
	-webkit-animation: fadeIn 3s ease-in 9s both;
	animation: fadeIn 3s ease-in 9s both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.row-fix {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0;
	margin-left: -15px;
}

#four-services h2, h3, h4 {
	text-align: center;
}

#four-services>.col-md-12.pt-5>h2 {
	color: #0c0c0c;
}

#four-services img {
	display: block;
	margin: 0 auto;
}

a {
	display: block;
}