<div class="row-fix pt-5" id="four-services">
    <div class="col-md-12 pt-5">
        <h2>Услуги</h2>
    </div>
    <div class="col-md-3">
        <a routerLink="/Massage"><img width="128" height="128" src="/src/assets/images/massage@2x.png" alt="massage"
                class="img-fluid">
        </a>
        <h4 class="pt-3">Масаж</h4>
    </div>
    <div class="col-md-3">
        <a routerLink="/Manicure">
            <img width="128" height="128" src="/src/assets/images/icon-left-hand.png" alt="left-hand" class="img-fluid">
        </a>
        <h4 class="pt-3">Маникюр</h4>
    </div>
    <div class="col-md-3">
        <a routerLink="/Hair-dryer">
            <img width="128" height="128" src="/src/assets/images/icon-hair-profile.png" alt="left-face-profile" class="img-fluid">
        </a>
        <h4 class="pt-3">Прическа</h4>
    </div>
    <div class="col-md-3">
        <a routerLink="/Makeup">
            <img width="128" height="128" src="/src/assets/images/makeup-mirror.png" alt="makeup-mirror" class="img-fluid">
        </a>
        <h4 class="pt-3">Грим</h4>
    </div>
    <div class="col-md-12 py-5">
        <h3 class="pb-5">Всеки ден от седмицата директно във вашия офис от 07-22ч.</h3>
    </div>
</div>
<!--/.row -->