@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#hei-girls {
    background-image: url('/src/assets/images/two-women.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 40em;
    opacity: 0;
    animation: fadeIn 3s ease-in both;
    -moz-animation: fadeIn 3s ease-in both;
    -webkit-animation: fadeIn 3s ease-in both;
}

#hei-girls>.col-md-4 {
    background-color: #fff;
    box-shadow: 0px 0px 80px 0px rgba(89, 64, 89, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 6px 6px 0 0;
}

.text-center {
    text-align: center;
}

div.col-md-12.py-5>h2 {
    color: #3a1f37;
}

#hei-girls>div>p>span:nth-child(1), #hei-girls>div>p>span:nth-child(2), #hei-girls>div>p>span:nth-child(3) {
    font-size: 3.1em;
    font-weight: 500;
    line-height: 3.5em;
}

.pink-bkg-hands {
    background-image: url('/src/assets/images/pink-bkg-hands-with-phone.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 20em;
    text-align: center;
}

.pink-bkg-hands>.col-md-6.offset-md-3.py-5>h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: #fff;
}

.pink-bkg-hands>.col-md-6.offset-md-3.py-5>p {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}

div.container-fluid.panel-transition>div.row.pt-4 {
    opacity: 0;
    animation: fadeIn 3s ease-in 1s both;
    -moz-animation: fadeIn 3s ease-in 1s both;
    -webkit-animation: fadeIn 3s ease-in 1s both;
}

div.row.pink-bkg-hands.py-5 {
    opacity: 0;
    animation: fadeIn 3s ease-in 1.5s both;
    -moz-animation: fadeIn 3s ease-in 1.5s both;
    -webkit-animation: fadeIn 3s ease-in 1.5s both;
}

.row-fix {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: -15px;
}