<div class="container-fluid panel-transition">
  <div class="row-fix" id="hei-girls">
    <div class="col-md-4 offset-md-7">
      <p class="py-4 text-center"><span style="color: #ee4e79;">Хей</span><span style="color: #f79856;">,</span> <span
          style="color: #000000;">момичета?</span></p>
      <p class="p-4 " style="color: #3a1f37;">Вие сте няколко приятелки или колежки и имате нужда от маникюр, прическа
        и грим за
        предстоящо събитие или просто, за да изглеждате добре на работното си място всеки ден. Предлагаме ви възможност
        да
        изберете от нашите услуги правилния план за вашите нужди и ние ще ви изпратим бюти специалист на посочен от вас
        адрес.</p>

    </div>
  </div>
  <!--/.row-->
  <div class="row-fix pt-4">
    <div class="col-md-12 py-5">
      <h2 class="text-center">Какво да очаквате?</h2>
    </div>
    <!--/.col-md-12-->
    <div class="row-fix py-5">
      <div class="col-md-4 offset-md-2 px-5 text-center pb-5">
        <img width="78" height="68" src="/src/assets/images/smiley.png" class="img-fluid" alt="smiley">
        <h3 class="py-2">Професионализъм</h3>
        <p>Нашите специалисти са с опит от мин. 2 години и работят с качествени и подбрани материали.</p>

      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 px-5 text-center pb-5">
        <img width="78" height="68" src="/src/assets/images/check_list.png" class="img-fluid" alt="check_list">
        <h3 class="py-2">Удобство</h3>
        <p>Заявете бюти специалисти на удобно за вас място където и когато желаете.</p>
      </div>
      <!--/.col-md-4-->
      <div class="col-md-4 offset-md-2 px-5 text-center pt-4">
        <img width="78" height="68" src="/src/assets/images/guarantee-icon.png" class="img-fluid" alt="guarantee-icon">
        <h3 class="py-2">30-дневна гаранция</h3>
        <p>Ако не сте доволни от услугата- ще ви възстановим инвестицията.</p>
      </div>
      <div class="col-md-4 px-5 text-center pt-4">
        <img width="78" height="68" src="/src/assets/images/hand-with-heart.png" class="img-fluid" alt="hand-with-heart">
        <h3 class="py-2">Здраве и красота</h3>
        <p>Ние вярваме, че красотата и здравето вървят ръка за ръка. </p>

      </div>
    </div>
    <!--/. row nested-->
  </div>
  <!--/.row-->

</div>
<!--/.row-->
<app-cosmetics-services></app-cosmetics-services>
<div class="row-fix pink-bkg-hands py-5">
  <div class="col-md-6 offset-md-3 py-5">
    <h2 class="title">GОBEAUTY идва при теб</h2>
    <p>Всеки ден от седмицата на посочен от вас адрес от 08-20ч.</p>

  </div>
</div>
<!--/.container-fluid-->